<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEYeacoCoZT591YTx44ve11WXMLzL1F0I</string>
	<key>GCM_SENDER_ID</key>
	<string>66199771377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projects</string>
	<key>PROJECT_ID</key>
	<string>chit-chat-2d393</string>
	<key>STORAGE_BUCKET</key>
	<string>chit-chat-2d393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66199771377:ios:99003b4fe4474273bdf150</string>
</dict>
</plist>